.Gallery-Page {
    padding: 20px;
    text-align: center;
}

.Gallery-Page h1 {
    color: #f1c40f;
    font-size: 2em;
    text-align: center;
    text-shadow: 2px 2px 4px #000;
    margin-top: 20px;
    -webkit-text-stroke: 1px blue;
    font-family: 'Pokemon', sans-serif;
}

.Pokemon-Container {
    margin: auto;
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Responsive columns */
    gap: 20px; 
    padding: 20px;
    border: 2px solid #ccc; 
    border-radius: 10px; 
    background-color: #E6E6FA
}

.Gallery-Page .Pokemon-Card {
    color: white;
    width: 150px;
    height: 200px;
    border: 5px solid #f1c40f;;
    border-radius: 10px;
    background-color: #E6E6FA;
    margin: 10px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    background-image: url('https://i.pinimg.com/control/564x/eb/d6/b4/ebd6b40346109b1ff8c4f56d4d01ebf7.jpg');
    background-size: cover;
    background-position: center;

    img {
        width: 70px;
        height: 70px;
        border: 1px solid #000;
        border-radius: 10%;
        background-color: rgba(240, 240, 240, 0.5);
    }
}

.Gallery-Page .Pokemon-Card:hover {
    transform: scale(1.05);
}

.Gallery-Page .Pokemon-Card h2 {
    font-size: medium;
}

.Gallery-Page .Type-Selector .Button-Container button {
    height: 40px;
    width: 100px;
    padding: 5px;
    margin: 5px;
    border: 2px solid #000;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.Gallery-Page .Type-Selector .Button-Container button:hover {
    transform: translateY(-5px);
}

.Gallery-Page .Type-Selector {
    justify-content: center;
    align-items: center;
    margin: auto;
}

.type-button.active {
  background-color: purple; 
}

.Gallery-Page .Sort-Order {
    width: 96%;
    display: flex;
    margin: 50px;
    justify-content: flex-end;
    margin-bottom: 10px;
    gap: 10px;
}

.Gallery-Page .Sort-Order button {
    height: 30px;
    width: 200px;
    padding-top: 50px;
    padding: 5px;
    border: 2px solid #000;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.Gallery-Page .Sort-Order button:hover {
    transform: translateY(-5px);
}

.Gallery-Page .Sort-Order button.active {
    background-color: purple;
}
