.Search-Page .Pokemon-Card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    width: 50%;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #f0f0f0;
} 

.Search-Page .Pokemon-Card img {
    width: 150px;
    height: 150px;
}

.Search-Page .Pokemon-Card .Type span {
    padding: 5px;
    margin: 5px;
    justify-content: space-evenly;
    border: 2px solid #000;
}

.Search-Page .Pokemon-Card .Stats {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px; 
}