.Pokemon-Card {
    align-items: center;
    justify-content: center;
    width: 50%;
    
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #f0f0f0;
} 

.Pokemon-Card img {
    width: 150px;
    height: 150px;
}

.Pokemon-Card .Type span{
    padding: 5px;
    margin: 5px;
    justify-content: space-evenly;
    border: 2px solid #000;

}

.Pokemon-Card .Stats {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}