html, body, #root {
  height: 100%;
  margin: 0;

}

body {
  background-color: #282c34;
  background-size: cover;
}

.App {
  height: 100%;
  padding: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;


}

.App a {
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 10px;
  background-color: aliceblue;
  justify-content: space-evenly;
  transition: background-color 0.3s, color 0.3s;

  }

  .App a:hover {
    background-color: #61dafb;
    color: white;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}


