html, body, #root {
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body {
  background-color: #D1C4E9;
  background-size: cover;
}

.App {
  height: 100%;
  padding: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.App a {
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 10px;
  background-color: #f1c40f;
  justify-content: space-evenly;
  transition: background-color 0.3s, color 0.3s;
  display: inline-block;
}

nav {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

.App a:hover {
  background-color: lightyellow;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}


