html, body, #root {
  height: 100%;
  margin: 0;
}

.App {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100vh; /* Ensure the .App element takes the full viewport height */
}


